@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    --primary-color: #A69383;
    --secondary-color: #FFFEFC;
    --border-color: #F2E4D8;
    
    --icon-color:#729DA6;
    --text-color: #000;
    --font-inter: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;
    background-color: var(--primary-color);
    font-family: var(--font-inter);
}

.centered-container {
  @apply bg-[var(--secondary-color)] border-2 border-[var(--border-color)] rounded-[25px] w-[275px] h-[671px];
}